<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's the latest version of my styding</title>
</head>
<body>
    <div>
        <h1>Это мой кандидатский сценарий</h1>
        <p><u>Слушай буржуй, слушай, пролетарий</u></p></u></p>
    </div>

    <div>
        <h2>Бочка с <a href="https://ru.wikipedia.org/wiki/Водка" target="_blank">водкой</a> на каждом углу</h2>
        <p>Нет работе - слава бухлу!</p>
    </div>

    <div><h2><a href="https://ru.wikipedia.org/wiki/Марихуана" target="_blank">Марихуану</a> вырастим на клумбах</h2>
        <p>О пользе ее будут лекции в клубах.</p>
        <p>Женщинам и детям - бесплатный косяк.</p>
        <p>Всем остальным - всего за пятак!</p>
    </div>
</body>
</html>